body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    margin: 30px;
    padding: 10px;
    width: max;
    height: auto;
    background-color: lightblue;
    display: grid;
    grid-template-areas: 
    "h h h h"
    "m m  m s"
    "f f f f";
    gap: 20px;
}

.header {
    grid-area: h;
}
.main {
    color: white;
    padding: 10px;
    background-color: grey;
    display: grid;
    grid-area: m;
}
.side {
    display: grid;
    grid-area: s;
}
.footer {
    display: grid;
    padding: 10px;
    background-color: white;
    grid-area: f;
    align-content: stretch;
}

.library-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.library-table tr:nth-child(even){background-color: #f2f2f2;}

.library-table tr:hover {background-color: #ddd;}

.library-table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
    color: grey;
}

.button-add {
    justify-self: stretch;
}